<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header">
        <h3 class="mb-0">Login</h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label for="">Email</label>
            <input id="email" pattern="[A-Za-z0-9._]+@[A-Za-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="loginUserData.email" name="email" type="text" class="form-control" #email="ngModel" required />
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input id="password" [(ngModel)]="loginUserData.password" name="password" type="password" class="form-control" #password="ngModel" required />
          </div>
          <div class="form-group">
            <label *ngIf="invalidData" class="alert alert-danger text-center" role="alert" style="width: 100%;">
              Email or password is invalid. Please try again.
            </label>
          </div>
          <div *ngIf="!password.invalid && !email.invalid" class="form-group">
            <button (click)="loginUser()" type="button" class="btn btn-success float-right">Login</button>
          </div>
          <div *ngIf="password.invalid || email.invalid" class="form-group" style="text-align:center;">
            Please fill all the blanks
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
