
  <div class="row mt-5">
    <!--navigation-->
    <div class="col-lg-3">
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#updateBalance" aria-expanded="false" aria-controls="multiCollapseExample2">Update balance</button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#updatePaymentInfo" aria-expanded="false" aria-controls="multiCollapseExample2">Update payment info</button>
      </p>
    </div>
    <!--forms-->
    <div class="col-lg-3">
      <div class="collapse multi-collapse" id="updatePaymentInfo">
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
          <h4 class="alert-heading">
            !!! DO NOT enter real credit card information !!!
          </h4>
          <p>
            This application is just a demo, so MAKE UP all payment information instead.
            The owner of this application/website does not take any responsibility if you
            choose to enter real credit card information.
          </p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card mb-5">
          <div class="card-header">
            <h3 class="mb-0">Update payment information</h3>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <label for="">Credit card number</label>
                <input id="cardNum" pattern="[0-9]{16}" [(ngModel)]="userInfo.cardNum" name="cardNum" type="text" class="form-control" #cardNum="ngModel" required />
              </div>
              <div class="form-group">
                <label for="">Expiration date</label>
                <input id="expDate" [(ngModel)]="userInfo.expDate" name="expDate" type="month" min="2018-06" class="form-control" #expDate="ngModel" required />
              </div>
              <div class="form-group">
                <label for="">CVV</label>
                <input id="cvv" pattern="[0-9]{3}" [(ngModel)]="userInfo.cvv" name="cvv" type="number" min="100" max="999" class="form-control" #cvv="ngModel" required />
              </div>
              <div class="form-group">
                <label for="">Password</label>
                <input id="infoPassword" [(ngModel)]="userInfo.password" name="password" type="password" class="form-control" #password="ngModel" required />
              </div>
              <div class="form-group">
                <label *ngIf="invalidPasswordUpdateInfo" class="alert alert-danger text-center" role="alert" style="width: 100%;">
                  Invalid password entered! Please, try again.
                  Maybe you
                </label>
              </div>
              <div class="form-group">
                <label *ngIf="personalInfoUpdated" class="alert alert-success text-center" role="alert" style="width: 100%;">
                  Payment information has been updated!
                  You're ready to add some money!
                </label>
              </div>
              <div *ngIf="!password.invalid && !cvv.invalid && !expDate.invalid && !cardNum.invalid">
                <button (click)="updateInfo()" type="button" class="btn btn-primary float-right">Update</button>
              </div>
              <div *ngIf="password.invalid || cvv.invalid || expDate.invalid || cardNum.invalid" style="text-align:center;">
                Please fill all the blanks
              </div>
            </form>
          </div>
        </div>
      </div>

      <!--Update balance-->
      <div class="collapse multi-collapse" id="updateBalance">
        <div class="card">
          <div class="card-header">
            <h3 class="mb-0">Add money</h3>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <label for="">Enter amount</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                  </div>
                  <input id="balance" pattern="[0-9.]{1,}" [(ngModel)]="userInfo.balance" name="balance" type="number" min="0.01" class="form-control" #balance="ngModel" required />
                </div>
              </div>
              <div class="form-group">
                <label for="">Password</label>
                <input id="updatePassword" [(ngModel)]="userInfo.password" name="password" type="password" class="form-control" #password="ngModel" required />
              </div>
              <div class="form-group">
                <label *ngIf="invalidPasswordUpdateBalance" class="alert alert-danger text-center" role="alert" style="width: 100%;">
                  Invalid password entered! Please, try again.
                </label>
              </div>
              <div class="form-group">
                <label *ngIf="invalidBalance" class="alert alert-danger text-center" role="alert" style="width: 100%;">
                  No payment information found!
                </label>
              </div>
              <div class="form-group">
                <label *ngIf="balanceUpdated" class="alert alert-success text-center" role="alert" style="width: 100%;">
                  Balance has been updated!
                </label>
              </div>
              <div *ngIf="!balance.invalid && !password.invalid">
                <button (click)="addMoney()" type="button" class="btn btn-primary float-right">Add money</button>
              </div>
              <div *ngIf="balance.invalid || password.invalid" style="text-align:center;">
                Please fill all the blanks
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--info-->
    <div class="col-lg-3">
      <h3 class="mb-4">Payment information</h3>
      <p class="itemName" *ngIf="paymentInfo.nibble1 == 0 && paymentInfo.expDate == 0 && paymentInfo.cvv == 0">Payment information requires an update.</p>
      <p class="itemName" *ngIf="paymentInfo.nibble1 != 0">Card number: {{paymentInfo.nibble1}}   {{paymentInfo.nibble2}}   {{paymentInfo.nibble3}}   {{paymentInfo.nibble4}}</p>
      <p class="itemDescription" *ngIf="paymentInfo.expDate != 0">Expiration date: {{paymentInfo.expDate}}</p>
      <p class="itemPrice" *ngIf="paymentInfo.cvv != 0">CVV: {{paymentInfo.cvv}}</p>
    </div>
    <!--history-->
    <div class="col-lg-3">
      <h3 class="mb-4">History</h3>
      <div *ngIf="boughtItems.length == 0">
        You don't have any items bought yet! Maybe it's time to start shopping?
      </div>
      <div *ngFor="let item of boughtItems; let i = index">
        <h5 class="itemName">{{item.itemName}} (#{{i+1}})</h5>
        <p class="itemDescription">{{item.itemDescription}}</p>
        <p class="itemPrice">${{item.itemPrice}}</p>
        <p class="divider">--------------------</p>
      </div>
    </div>
  </div>
