<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/shop">Azoman</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="_authService.loggedIn()">Welcome, {{firstName}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="_authService.loggedIn()">Balance: ${{balance}}</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-link" style="cursor:pointer" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</li>
      <li class="nav-link" style="cursor:pointer" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</li>
      <li class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn() && isAdmin" routerLink="/admin" routerLinkActive="active">Admin Dash</li>
      <li class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" routerLink="/personal" routerLinkActive="active">Personal</li>
      <li class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
