<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="alert alert-primary" role="alert">
      <strong>Attention!</strong> To add items to the shop, use the form below.
    </div>
  </div>
</div>

<div class="row pt-3 pb-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Add Item</h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label for="">Item name</label>
            <input id="itemName" pattern="[A-Za-z]{3,}" placeholder="3 characters min" [(ngModel)]="newItemData.itemName" name="itemName" type="text" class="form-control" #itemName="ngModel" required />
          </div>
          <div class="form-group">
            <label for="">Item description</label>
            <input id="itemDescription" pattern="[A-Za-z]{6,}" placeholder="6 characters min" [(ngModel)]="newItemData.itemDescription" name="itemDescription" type="text" class="form-control" #itemDescription="ngModel" required />
          </div>
          <div class="form-group">
            <label for="">Item price</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
                </div>
                <input id="itemPrice" [(ngModel)]="newItemData.itemPrice" name="itemPrice" type="number" min="0.01" class="form-control" #itemPrice="ngModel" required />
              </div>
            </div>
          <div class="form-group">
            <label *ngIf="itemAdded" class="alert alert-success text-center" role="alert" style="width: 100%;">
              Item has been added!
            </label>
          </div>
          <div *ngIf="!itemName.invalid && !itemDescription.invalid && !itemPrice.invalid">
            <button (click)="addNewItem()" type="button" class="btn btn-primary float-right">Add Item</button>
          </div>
          <div *ngIf="itemName.invalid || itemDescription.invalid || itemPrice.invalid" style="text-align:center;">
            Please fill all the blanks
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
