<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="alert alert-primary" role="alert">
      <strong>Attention!</strong> This application is just a demo. Do <strong>NOT</strong> put your real information here. Make something up.
      <hr>
      <p class="mb-0">(Tip: put a single character for your password)</p>
    </div>
  </div>
</div>
<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Register</h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label for="">First name</label>
            <input id="firstName" placeholder="John" [(ngModel)]="registerUserData.firstName" name="firstName" type="text" class="form-control rounded-0" #firstName="ngModel" required />
            </div>
          <div class="form-group">
            <label for="">Last name</label>
            <input id="lastName" placeholder="Doe" [(ngModel)]="registerUserData.lastName" name="lastName" type="text" class="form-control rounded-0" #lastName="ngModel" required />
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input id="email" placeholder="me@gmail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="registerUserData.email" name="email" type="text" class="form-control rounded-0" #email="ngModel" required />
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input id="password" [(ngModel)]="registerUserData.password" name="password" type="password" class="form-control rounded-0" #password="ngModel" required />
          </div>
          <div class="form-check">
            <input id="isAdmin" title="Check if you want more power!" [(ngModel)]="registerUserData.isAdmin" name="isAdmin" type="checkbox" class="form-check-input" #isAdmin="ngModel">
            <label title="Check if you want more power!" class="form-check-label" for="adminCheck">Admin perks</label>
          </div>
          <div class="form-group">
            <label *ngIf="invalidEmail" class="alert alert-danger text-center" role="alert" style="width: 100%;">
              This email has already been used for the registration!
            </label>
          </div>
          <div *ngIf="!password.invalid && !email.invalid && !lastName.invalid && !firstName.invalid">
            <button (click)="registerUser()" type="button" class="btn btn-primary float-right">Register</button>
          </div>
          <div *ngIf="password.invalid || email.invalid || lastName.invalid || firstName.invalid" style="text-align:center;">
            Please fill all the blanks
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
